body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
}

#timer {
    color: red;
    font-weight: bold;
}